.ant-modal {
  width: auto;
  transform-origin: 85px 43px;
  overflow: hidden;
  height: -webkit-fill-available;
}

/* .ant-modal-content {
  width: 20vw;
  height: calc(10vh - 2px) !important;
  top: 0;
}

/* .ant-modal-centered::before {
  content: unset;
}

.ant-modal-footer {
  display: none;
}  */
